.newsletter {
    width: 65%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 120px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #004AAD 0%, #e2e5eb 80%);
    gap: 30px;
    border-radius: 30px;
  }
  .newsletter h1 {
    color: black;
    font-size: 50px;
    font-weight: 700;
  }
  .newsletter p {
    color: black;
    font-size: 20px;
  }
  
  .newsletter div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 700px;
    height: 60px;
    border-radius: 80px;
    border: 1px solid black;
  }
  .newsletter input {
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
  }
  
  .newsletter div button {
    width: 200px;
    height: 60px;
    border-radius: 80px;
    background: #000;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }