.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .nav-logo img {
    height: 60px;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 500;
  }

  .navbar .nav-menu li a {
    color: black;
  }
  .nav-menu li a:hover{
    color: #004AAD;
}
  .nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .nav-login-cart button {
    width: 130px;
    height: 45px;
    outline: none;
    border: 1px solid;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #004AAD;
  }
  .nav-login-cart button:active{
    background-color: #004AAD;
    color: white;
  }
  .nav-login-cart button:hover{
    color: #004AAD;
    background-color: white;
}
  
  .nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: #004AAD;
    color: white;
  }
  .nav-login-cart img{
    height: 40px;
  }
  