.item {
  width: 270px;
  height: 400px;
}
.item img{
  width: 250px;
  height: 300px;
}
.item p{
  margin: 6px 0px;
  font-size: 16px;
}
.item-prices {
  display: flex;
  gap: 10px;
}
.item-price-new {
  color: #374151;
  font-size: 16px;
  font-weight: 600;
}
.item-price-old {
    color: #8C8C8C;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
  }
  .item:hover{
    transform: scale(1.05);
    transition: 0.6s;
  }